[submodule "inspector/c/llvm/clang.git"]
	path = inspector/c/llvm/clang.git
	url = https://github.com/osrg/clang.git
	branch = earthquake
[submodule "inspector/c/llvm/llvm.git"]
	path = inspector/c/llvm/llvm.git
	url = https://github.com/llvm-mirror/llvm.git
	branch = release_35
