[submodule "misc/inspector/c/llvm/clang.git"]
	path = misc/inspector/c/llvm/clang.git
	url = https://github.com/osrg/clang.git
	branch = earthquake
[submodule "misc/inspector/c/llvm/llvm.git"]
	path = misc/inspector/c/llvm/llvm.git
	url = https://github.com/osrg/llvm.git
	branch = earthquake
